My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        784,
        0
      ],
      "id": "2035341b-146e-4129-ac11-932c003a1092",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.userPrompt }}",
        "options": {
          "systemMessage": "Você é um assistente especializado em indicar filmes reais e atuais.\n\nQuando o usuário pedir uma recomendação, você deve buscar mentalmente 1 filme que existam de verdade e que se encaixem na categoria solicitada.\n\nRegras:\n\n- Não invente nomes de filmes.\n- Priorize títulos populares e bem avaliados.\n- Retorne somente 1 filme por vez.\n\nFORMATO DE RESPOSTA OBRIGATÓRIO:\nResponda SOMENTE com este JSON (sem texto adicional):\n{\"title\": \"TÍTULO EXATO DO FILME\"}\n\nREGRAS CRÍTICAS:\n- SEM texto antes ou depois do JSON\n- SEM explicações ou comentários  \n- SEM backticks ou markdown\n- SEM a palavra \"output\"\n- APENAS o array JSON válido"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "bc62ca1e-3e41-4719-a9f2-0101cbcf8222",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "2ad007cf-0447-402a-b5ef-fe11b34e830c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JqXA2lmZDJN9U8mW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "botflix",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        0
      ],
      "id": "e64a0ccc-2788-472a-b2cd-e8d0dcccae97",
      "name": "Webhook",
      "webhookId": "0dda79e9-0b84-4ce8-9756-3cdde5b944c3"
    },
    {
      "parameters": {
        "url": "https://api.themoviedb.org/3/search/movie",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ JSON.parse($json.output).title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        0
      ],
      "id": "4e0f5876-2f3c-4413-9968-e93f88c0e497",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "fpDQa6C6huUr8Js6",
          "name": "Bearer Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d5eea3e-e437-49ac-bfb1-128ab0c83ca9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fedf85ee3e870bb1933e9a1ddc46f1b68cfae9e85614cd7bc3ed067d7138c5ec"
  },
  "id": "h6djMWp8tKHrO9IO",
  "tags": []
}